<div class="center">
  <h1>Edit Application</h1>
  <% form_for @borrower, :url => {:action => "update"}, :html => { :multipart => true } do |a| %>
  <%= a.error_messages %>
  <p>
    <%= a.label :first_name %><br />
    <%= a.text_field :first_name %>  
  </p>
  <p>
    <%= a.label :last_name %><br />
    <%= a.text_field :last_name %>  
  </p>
  <p>
    <%= a.label :email %><br />
    <%= a.text_field :email %>  
  </p>
  <p>
    <%= a.label :headline %><br />
    <%= a.text_field :headline %>  
  </p>
  <p>
    <%= a.label :description %><br />
    <%= a.text_area :description %>  
  </p>
  <div class="newPaperclipFiles">

    <% a.fields_for :photos do |asset| %>
      
      <%# if asset.object.new_record? %>
        <%= asset.file_field :photo %>
      <%# end %>

    <% end %>

  </div>

  <div class="existingPaperclipFiles">
    
    <%# a.fields_for :photos do |asset| %>
      
      <%# unless asset.object.new_record? %>
        
        <div class="thumbnail">
          <%# link_to( image_tag(asset.object.photo.url(:thumb)), asset.object.photo.url(:original) ) %>
          <%# asset.check_box :_delete %>
        </div>
        
      <%# end %>        
      
    <%# end %>
  </div>
  <p>
    <%= a.submit "  *** UPDATE RECORD ***   " %>  
  </p>
<% end %>
</div>
