<center>
<font size=3><b>Submit a New Lender Application</b></font><BR><BR>
<%= error_messages_for 'lender' %>
<% form_for :lender do |a| %>
	<Table Border=0>
	<TR>
	<TD Align=right>
	First Name:
	</TD>
	<TD Align=left>
	<%= a.text_field :first_name %>
	</TD>
	</TR>
	
	<TR>
	<TD Align=right>
	Last Name:
	</TD>
	<TD Align=left>
	<%= a.text_field :last_name %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	E-Mail Address:
	</TD>
	<TD Align=left>
	<%= a.text_field :email %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	Screen Name (publicly viewable):
	</TD>
	<TD Align=left>
	<%= a.text_field :screen_name %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	Street Address:
	</TD>
	<TD Align=left>
	<%= a.text_field :street_address %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	City:
	</TD>
	<TD Align=left>
	<%= a.text_field :city %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	State:
	</TD>
	<TD Align=left>
	<%= a.text_field :state %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	Zip Code:
	</TD>
	<TD Align=left>
	<%= a.text_field :zip %>
	</TD>
	</TR>

	<TR>
	<TD Align=right>
	Phone:
	</TD>
	<TD Align=left>
	<%= a.text_field :phone %>
	</TD>
	</TR>

<!--
	<TR>
	<TD Align=right>
	Social Security Number:
	</TD>
	<TD Align=left>
	<%= a.text_field(:ss, :size=>8) %>
	</TD>
	</TR>


-->

	<TR>
	<TD Colspan=2 align=center>
<BR>
	<%= submit_tag(value = "   *** SUBMIT APPLICATION ***   ") %>
	</TD>
	</TR>
		
	</Table>
<% end %>
</center>