<div class="row" style="float:left;">
  <div class="onecol">
  </div>
  <div class="round-corners sevencol fancy-form">
        <%=error_messages_for "user_session"%>

    <h2>Please Log In.</h2>
    <div class="eightcol">
      <% form_for @user_session, :url => "/account/login" do |f| %>
      <%# form_tag  do %>
      <%# form_tag({:controller => :account, :action => :do_login}) do %>
	<p>
	  <%= label_tag :email, "Email Address: " %> <br />
	  <%= f.text_field 'email', :size => "" %>
	</p>
	<p>
	  <%= label_tag :password_field_tag, "Password: " %> <br />
	  <%= f.password_field 'password', :size => "" %>
	</p>
  <%= link_to "Forgot Password?", "/password_resets/new"%>
	<p class="centre">
	  <%= submit_tag 'Login', {:class =>"round-corners"} %>
	</p>

      <% end %>

    </div>
    <div class="fourcol last">
      <p>New Member?</p>
      <p>Register</p>
    </div>
  </div>

</div>
